* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* !! Don't include in Shopify CSS | START !! */
h1, h2, h3, h4, h5, h6, button {
    font-family: "Montserrat", sans-serif;
}

p, small, li {
    font-family: "Nunito Sans", sans-serif;
}

form .placeholder {
    margin: 0 auto;
}

.form-item {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
}

form .form-item label {
    margin-bottom: 0.25rem;
    font-size: 0.75rem;
    font-family: sans-serif;
    font-weight: 600;
    text-align: left;
    color: #9c9c9c;
}

form .form-item input {
    padding: 0.75rem 0;
    border: none;
    border-bottom: 3px solid #A9A8A9;
    background-color: #EDEDED;
}
/* !! Don't include in Shopify CSS | END !! */



/* Utility Classes | START */

.section-spacer {
    margin-bottom: 3rem;
    padding: 2rem 0;
}

.content-container {
    margin: 0 auto;
    padding:  0 1rem;
    width: min(100%, 100rem);
    text-align: center;
}

.section-container-black {
    background-color: #1b1b1b;
    color: #ffffff; 
}

.section-container-gray-100 {
    background-color: #F0F0F0;
    color: #1b1b1b; 
}
.section-container-gray-200 {
    background-color: #EDEDED;
    color: #1b1b1b; 
}

.section-container-footer {
    background-color: #F5F3ED;
    color: #1b1b1b; 
}

.section-container-white {
    background-color: #ffffff;
    color: #1b1b1b; 
}

.section-container-orange {
    background-color: #FF6C0C;
    color: #1b1b1b; 
}

.section-container-gray100 {
    background-color: #f8f8f8;
    color: #575757; 
}

.img-full-width {
    width: 100%;
}

a.cta-link {
    text-decoration: none;
}

button.cta-template {
    /* margin-top: 2rem; */
    padding: 1rem 1rem;
    width: min(100%, 21rem);
    border: none;
    font-size: 0.9rem;
    font-weight: 800;
    text-transform: uppercase;
    color: #000000;
    background-color: #FFED00;
    transition: all 200ms ease;
}

button.cta-template:hover {
    color: #1b1b1b;
    background-color: #fcca00 ;
}

button.cta-template.orange-bg {
    margin-top: 2rem;
    padding: 1rem 1rem;
    width: min(100%, 25rem);
    border: none;
    font-size: 1rem;
    font-weight: 700;
    color: #ffffff;
    background-color: #FF6C0C;
    transition: all 200ms ease;
}

button.cta-template.orange-bg:hover {
    color: #1b1b1b;
    background-color: #fceb00 ;
}

button.cta-template.secondary {
    margin-top: 0;
    padding: 1rem 1rem;
    width: min(100%, 21rem);
    font-weight: 800;
    color: #ffffff;
    background-color: #1b1b1b;
    transition: all 200ms ease;
}

button.cta-template.secondary:hover {
    color: #1b1b1b;
    background-color: #fceb00;
}

button.cta-template.tertiary {
    margin-top: 0;
    padding: 1rem 1rem;
    width: min(100%, 21rem);
    font-weight: 800;
    color: #1b1b1b;
    background-color: #fceb00;
    transition: all 200ms ease;
}

button.cta-template.tertiary:hover {
    color: #ffffff;
    background-color: #FF6C0C;
}

button.secondary-nav {
    margin-top: 1rem;
    padding: 0.7rem 0;
    width: min(100%, 15rem);
    font-weight: 600;
    color: #ffffff;
    border: 1px solid #ffffff;
    background-color: #FF6C0C;
    transition: all 200ms ease;
}

button.secondary-nav:hover {
    background-color: #1b1b1b;
}

button.secondary {
    margin-top: 0;
    padding: 0.75rem 0.5rem;
    width: min(100%, 21rem);
    color: #ffffff;
    font-weight: 600;
    border: none;
    /* border: 2px solid #FF6C0C; */
    background-color: #FF6C0C;
    transition: all 200ms ease;
}
/* Utility Classes | END */



/* MAIN STYLES */

/* Header section | START */
.rental-promo-header-container {
    margin: 0;
    padding: 0 0 0.5rem 0;
    height: 500px;
    position: relative;
    background-image: url(https://cdn.shopify.com/s/files/1/1393/7021/files/rental-promo-hero-img-mobile.jpg?v=1737667312);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    background-color: #000000;
}

/* .rental-promo-header-container::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    background-color: #000000;
    opacity: 0;
} */

.rental-promo-header-container  .content-container {
    padding-top: 2rem;
    position: relative;
    z-index: 100;
    /* width: min(100%, 55rem); */
}

.rental-promo-header-container img.liftow-logo  {
    margin: 1rem 0 1rem 0;
    max-width: 270px;
    /* box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, .2); */
}

.header-content-container {
    margin: 0 auto;
    width: min(100%, 800px);
}

.header-content-container h1 {
    margin-bottom: 1rem;
    font-family: "Montserrat", sans-serif;
    font-size: 3.25rem;
    font-weight: 900;
    line-height: 100%;
    text-transform: uppercase;
    color: #FF6C0C;
    filter: drop-shadow(3px 3px 2px #000000);
}

.header-content-container h1 span {
    font-size: 1.25rem;
    line-height: 100%;
    color: #ffffff;
}

.header-content-container p {
    font-size: 1rem;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 160%
}

.rental-promo-header-container button.hero {
    margin: 2rem 0 2rem 0;
}

@media (min-width: 40rem) {
    .rental-promo-header-container {
        height: 80vh;
    }
    .header-content-container h1 {
        margin: 0 auto;
        max-width: 500px;
        /* margin-top: 2.7rem; */
    }
}

@media (min-width: 50rem) {
    .rental-promo-header-container {
        background-image: url(https://cdn.shopify.com/s/files/1/1393/7021/files/rental-promo-hero-img-tablet.jpg?v=1737667585);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
}

@media (min-width: 75rem) {
    .rental-promo-header-container {
    padding: 0;
    height: 600px;
    background-image: url(https://cdn.shopify.com/s/files/1/1393/7021/files/rental-promo-hero-img-desktop.jpg?v=1737667308);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    background-color: #000000;
    }

    .hero-content-wrapper {
        margin: 0 auto;
        width: min(100%, 1600px);
        height: 100%;
        display: grid;
        align-items: center;
        grid-template-columns: 60% 40%;
    }

    .rental-promo-header-container .content-container {
        padding-top: 0;
        display: flex;
        flex-direction: column;
    }


    .header-content-container h1 {
        margin: 0 auto 1rem auto;
        max-width: 700px;
        font-size: 4.6rem;
    }

    .header-content-container p {
        padding: 0 4rem;
    }

}

/* Header section | END */


/* Form | START */
#cta-form {
    margin-bottom: -2rem;
    /* background-color: rgba(233,233,233,1); */
}

.form-content-container.content-container {
    padding: 0 0.5rem;
}

.action-contact-form {
    margin: 0 auto 2rem auto;
    padding: 2.5rem 1rem;
    width: min(100%, 75rem);
    position: relative;
    z-index: 500;
    top: -2rem;
    border-radius: 0.25rem;
    background-color: #ffffff;
    box-shadow: 4px 4px 10px 1px rgba(0, 0, 0, .2);
}

.action-contact-form h2 {
    margin: 0 0 2.5rem 0;
    font-size: 1.3rem;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 100%;
    color: #1b1b1b;
}


@media (min-width: 45rem) {
    
    /* .action-contact-form h3 {
        font-size: 2rem;
        line-height: 90%;
    } */
    
}

@media (min-width: 75rem) {
    .action-contact-form {
        padding: 2.5rem 2rem;
    }

    .action-contact-form form .form-items {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
    }
}



.action-contact-form button {
    text-transform: uppercase;
    color: #ffffff;
    background-color: #FF6C0C;
}

/* Form | END */



/* Promo details | START */
.promo-details .promo-details-content h2 {
    margin: 4rem 0 2rem 0;
    font-size: 3.75rem;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 100%;
    color: #FF6C0C;
}

.promo-details .promo-item {
    margin-bottom: 2rem;
}

.promo-details .promo-item h3 {
    margin-bottom: 0.3rem;
    text-transform: uppercase;
}

.promo-details .bullet-item-container {
    margin-bottom: 2rem;
}

.promo-details .bullet-item-container .bullet-item {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.4rem;
}

.promo-details .bullet-item-container .bullet-item img.checkmark {
    width: 30px;
}

.promo-details .bullet-item-container .bullet-item p {
    font-size: 2rem;
    font-weight: 900;
    line-height: 100%;
    color: #77777A;
}

.promo-details hr {
    margin: 0 auto 2rem auto;
    width: min(100%, 400px);
    border: 1px solid #d1d1d1;

}

.promo-details .vl {
    display: none;
  }

@media (min-width: 55rem) {
    .promo-details .promo-item-container {
        display: flex;
        justify-content: center;
        gap: 4rem;
        position: relative;
        left: 40px;
    }

    .promo-details .bullet-item-container .bullet-item {
        flex-direction: row;
        justify-content: center;
        gap: 1rem;
    }
    .promo-details hr {
        display: none;
    
    }

    .promo-details .vl {
        display: block;
        border-left: 1px solid #A9A8A9;
        height: 150px;
      }

      .promo-details .promo-item h3 {
        margin-bottom: 0.7rem;
      }
}
/* Promo details | END */


/* Image gallery | START */
section#img-gallery {
    /* margin: 3rem 0 0 0; */
}

.img-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.img-gallery .img-item {
    width: 100%;
    overflow: hidden;
}

.img-gallery .img-item img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (min-width: 65rem) {

    .img-gallery {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }    

}

/* Image gallery | END */


/* Why rent from Liftow? | START */
.why-liftow {
    margin: 4rem 0;
}

.why-liftow .content-container {
    width: min(100%, 55rem);
}

.why-liftow h2 {
    margin-bottom: 0.5rem;
    font-size: 1.6rem;
    font-weight: 800;
    color: #77777A;
}

.why-liftow p {
    margin-bottom: 1rem;
    font-size: 1.1rem;
    color: #77777A;
}

.why-liftow .content-items-container {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 2rem;
}

.why-liftow .content-items-container .content-item {
    text-align: center;
}

.why-liftow .content-items-container img {
    height: 120px;
}

.why-liftow .content-items-container img.application {
    margin-bottom: 0.8rem;
    height: 100px;
}

.why-liftow .content-items-container p {
    margin-top: 0.5rem;
    width: 300px;
    font-weight: 700;
    line-height: 100%;
}

@media (min-width: 75rem) {
    .why-liftow .content-items-container {
        margin: 4rem auto 0 auto;
        width: min(100%, 1200px);
        grid-template-columns: 1fr 1fr 1fr;
    }

    .why-liftow .content-items-container img {
        height: 100px;
    }

    .why-liftow .content-items-container img.application {
        margin-bottom: 1.3rem;
        height: 80px;
    }
}

/* Why rent from Liftow? | END */


/* Liftow Sign-off | START */

.sign-off {
    margin: 0 0 3rem 0;
    text-align: center;
}

.sign-off .header-lockup p.emphasize {
    margin: 1rem 0 0.3rem 0;
    font-family: "Montserrat", sans-serif;
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 900;
    line-height: 90%;
    color: #FF6C0C;
}

.sign-off .header-lockup {
    margin-bottom: 3rem;
}

.sign-off .header-lockup p.tagline {
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 800;
    line-height: 100%;
    color: #77777A;
}

.sign-off img {
    width: min(100%, 900px);
}

.sign-off .logo-lockup img {
    width: min(100%, 300px);
}

.sign-off .logo-lockup p {
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    font-weight: 600;
    line-height: 100%;
    color: #77777A;
}

/* Liftow Sign-off | END */

/* CTA 02 | START */
.rental-promo-header-container.cta-02 {
    height: 900px;
}

@media (min-width: 75rem) {
    .rental-promo-header-container.cta-02 {
        padding: 3rem 0;
        height: auto;
    }
    
}
/* CTA 02 | END */



/* Footer | Condensed section | START */
.footer-Q32024-ti-tu-landing-page .content-container-footer {
    margin-bottom: 0;
    padding: 2rem 1rem;
    padding: 3.5rem 2rem 1rem 2rem;
    text-align: center;
}

.footer-content-top img.liftow-logo  {
    width: 300px;
}

.social-icon-container {
    margin-bottom: 3rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.social-icon-container img {
    height: 25px;
}

.liftow-legal {
    color: #77777A;
}

@media (min-width: 75rem) {
    .footer-Q32024-ti-tu-landing-page .footer-content-top {
        display: flex;
        justify-content: space-between;
    }

    .footer-content-top img.liftow-logo  {
        width: 400px;
    }

    .social-icon-container {
        margin-bottom: 0;
        align-items: center;
    }
}
/* Footer | Condensed section | END */